<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plants.DAO.PlantMaintenanceDAO">

    <resultMap id="BaseResultMap" type="org.plants.po.PlantMaintenance">
        <id property="MaintenanceID" column="MaintenanceID" jdbcType="INTEGER"/>
        <result property="MissionName" column="MissionName" jdbcType="VARCHAR"/>
        <result property="ExecutionTime" column="ExecutionTime" jdbcType="TIMESTAMP"/>
        <result property="ExecutionPlace" column="ExecutionPlace" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="INTEGER"/>
        <result property="JobDescribtion" column="JobDescribtion" jdbcType="VARCHAR"/>
        <result property="plantId" column="plantId" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" keyColumn="MaintenanceID" keyProperty="MaintenanceID" parameterType="org.plants.po.PlantMaintenance" useGeneratedKeys="true">
        insert into PlantMaintenance
            ( MissionName,ExecutionTime,ExecutionPlace,userId,JobDescribtion,plantId)
        values
            ( #{MissionName},#{ExecutionTime},#{ExecutionPlace},3,#{JobDescribtion},#{plantId})
    </insert>

    <update id="updateById" parameterType="org.plants.po.PlantMaintenance">
        update PlantMaintenance
        <set>
            <if test="MissionName != null">
                MissionName = #{MissionName},
            </if>
            <if test="ExecutionTime != null">
                ExecutionTime = #{ExecutionTime},
            </if>
            <if test="ExecutionPlace != null">
                ExecutionPlace = #{ExecutionPlace},
            </if>
            <if test="userId != null">
                userId = #{userId},
            </if>
            <if test="JobDescribtion != null">
                JobDescribtion = #{JobDescribtion},
            </if>
            <if test="plantId != null">
                plantId = #{plantId},
            </if>
        </set>
        where   MaintenanceID = #{MaintenanceID}
    </update>

    <delete id="deleteById" parameterType="INTEGER">
        delete from PlantMaintenance
        where  MaintenanceID = #{MaintenanceID}
    </delete>

    <select id="selectById" parameterType="INTEGER" resultMap="BaseResultMap">
        select
            *
        from PlantMaintenance
        where  MaintenanceID = #{MaintenanceID}
    </select>

    <select id="selectByuserId" parameterType="INTEGER" resultMap="BaseResultMap">
        select
            *
        from PlantMaintenance
        where  userId = #{userId}
    </select>

    <select id="selectByplantId" parameterType="INTEGER" resultMap="BaseResultMap">
        select
            *
        from PlantMaintenance
        where  plantId = #{plantId}
    </select>


</mapper>
