<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plants.DAO.PlantImageDAO">
    <resultMap id="PlantImagetMap" type="org.plants.po.PlantImage">
        <id column="imageId" property="imageId" />
        <result column="plantId" property="plantId" />
        <result column="imageData" property="imageData" />
        <result column="imagePath" property="imagePath" />
        <result column="imageLocation" property="imageLocation" />
        <result column="imageDescribe" property="imageDescribe" />
        <result column="photographer" property="photographer" />
    </resultMap>
    <!-- 创建 -->
    <insert id="addPlantImage" parameterType="org.plants.po.PlantImage">
        <!-- 使用插入语句，将实体类的属性映射到数据库表的字段 -->
        INSERT INTO plant_images (plantId, imageData, imagePath, imageLocation, imageDescribe, photographer)
        VALUES (#{plantId}, #{imageData}, #{imagePath}, #{imageLocation}, #{imageDescribe}, #{photographer})
    </insert>

    <!-- 读取 -->
    <select id="getPlantImageById" resultMap="PlantImagetMap" parameterType="int">
        <!-- 使用查询语句，根据配图ID查询植物配图信息 -->
        SELECT * FROM plant_images WHERE imageId = #{imageId}
    </select>

    <!-- 根据植物ID查询植物配图信息 -->
    <select id="getPlantImagesByPlantId" resultMap="PlantImagetMap" parameterType="int">
        SELECT * FROM plant_images WHERE plantId = #{plantId}
    </select>

    <!-- 更新 -->
    <update id="updatePlantImage" parameterType="org.plants.po.PlantImage">
        <!-- 使用更新语句，根据配图ID更新植物配图信息 -->
        UPDATE plant_images
        SET plantId = #{plantId}, imageData = #{imageData}, imagePath = #{imagePath},
        imageLocation = #{imageLocation}, imageDescribe = #{imageDescribe}, photographer = #{photographer}
        WHERE imageId = #{imageId}
    </update>

    <!-- 删除 -->
    <delete id="deletePlantImage" parameterType="int">
        <!-- 使用删除语句，根据配图ID删除植物配图信息 -->
        DELETE FROM plant_images WHERE imageId = #{imageId}
    </delete>
</mapper>