<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plants.DAO.UserDAO">

    <resultMap id="BaseResultMap" type="org.plants.po.User">
            <id property="userid" column="userId" jdbcType="INTEGER"/>
            <result property="username" column="userName" jdbcType="VARCHAR"/>
            <result property="userpassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="createdat" column="createdAt" jdbcType="TIMESTAMP"/>
            <result property="updatedat" column="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,userName,userPassword,
        createdAt,updatedAt
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from User
        where  userId = #{userid,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from User
        where  userId = #{userid,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="userId" keyProperty="userid" parameterType="org.plants.po.User" useGeneratedKeys="true">
        insert into User
        ( userId,userName,userPassword
        ,createdAt,updatedAt)
        values (#{userid,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{userpassword,jdbcType=VARCHAR}
        ,#{createdat,jdbcType=TIMESTAMP},#{updatedat,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="userId" keyProperty="userid" parameterType="org.plants.po.User" useGeneratedKeys="true">
        insert into User
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userid != null">userId,</if>
                <if test="username != null">userName,</if>
                <if test="userpassword != null">userPassword,</if>
                <if test="createdat != null">createdAt,</if>
                <if test="updatedat != null">updatedAt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userid != null">#{userid,jdbcType=INTEGER},</if>
                <if test="username != null">#{username,jdbcType=VARCHAR},</if>
                <if test="userpassword != null">#{userpassword,jdbcType=VARCHAR},</if>
                <if test="createdat != null">#{createdat,jdbcType=TIMESTAMP},</if>
                <if test="updatedat != null">#{updatedat,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.plants.po.User">
        update User
        <set>
                <if test="username != null">
                    userName = #{username,jdbcType=VARCHAR},
                </if>
                <if test="userpassword != null">
                    userPassword = #{userpassword,jdbcType=VARCHAR},
                </if>
                <if test="createdat != null">
                    createdAt = #{createdat,jdbcType=TIMESTAMP},
                </if>
                <if test="updatedat != null">
                    updatedAt = #{updatedat,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   userId = #{userid,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.plants.po.User">
        update User
        set 
            userName =  #{username,jdbcType=VARCHAR},
            userPassword =  #{userpassword,jdbcType=VARCHAR},
            createdAt =  #{createdat,jdbcType=TIMESTAMP},
            updatedAt =  #{updatedat,jdbcType=TIMESTAMP}
        where   userId = #{userid,jdbcType=INTEGER} 
    </update>
</mapper>
